<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}Binevenu sur NiouDem{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}

            <!-- Favicons -->
            <link href="{{asset('assets/img/favicon.png')}}" rel="icon">
            <link href="{{asset('assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
            <link href="{{asset('assets/css/fa.css')}}" rel="stylesheet"/>
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

            <!-- Vendor CSS Files -->
            <link href="{{asset('assets/vendor/aos/aos.css')}}" rel="stylesheet">
            <link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
            <link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
            <link href="{{asset('assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
            <link href="{{asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
            <link href="{{asset('assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('assets/css/w3.css')}}">

            <!-- Template Main CSS File -->
            <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
            <link href="{{asset('assets/css/style1.css')}}" rel="stylesheet">

        {% endblock %}
        {% block javascript %}
            <script>
                function openRightMenu() {
                    document.getElementById("main").style.marginRight = "10%";
                    document.getElementById("rightMenu").style.marginTop = "71px";
                    document.getElementById("rightMenu").style.width = "12%";
                    document.getElementById("rightMenu").style.display = "block";
                    document.getElementById("openNav").style.display = 'none';
                    document.body.style.backgroundColor = "#fff";
                }

                function closeRightMenu() {
                    document.getElementById("main").style.marginRight = "0%";
                    document.getElementById("rightMenu").style.display = "none";
                    document.getElementById("openNav").style.display = "inline-block";
                    document.body.style.backgroundColor = "#fff";
                }
            </script>
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="/js/jquery.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}

        
    </head>
    <body>

        {% if app.user %}
            <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
                <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
                <a href="{{path('app_profil')}}" class="w3-bar-item w3-button"><i class="fas fa-user-circle">Profil</i></a>
                <a href="{{path('profil_admin_index')}}" class="w3-bar-item w3-button">{% if trajets is defined %}  {% if trajets|length > 0 %}<span class="badge rounded-pill bg-danger">{{trajets|length}} </span>{% endif %} {% endif %}Mes Trajets</a>
                <a href="{{path('profil_reservations_index')}}" class="w3-bar-item w3-button">{% if reservations is defined %}  {% if reservations|length > 0 %}<span class="badge rounded-pill bg-danger">{{reservations|length}} </span>{% endif %} {% endif %}Reservations</a>
                <a href="{{path('app_logout')}}" class="w3-bar-item w3-button"><i class="fas fa-sign-out-alt">Logout</i></a>
            </div>
        {% endif %}

         <!-- ======= Header ======= -->
        <header id="header" class="fixed-top ">
            <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo me-auto"><a href="{{path('app_home')}}">NiouDem</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                {% if app.user %}
                    {% if app.user.roles[0] == "ROLE_USER" %}
                    <ul>
                        <li><a class="nav-link scrollto" href="{{path('app_home')}}">Accueil</a></li>
                        <li><a class="nav-link scrollto" href="{{path('trajet_index')}}">Trajets</a></li>
                        <li><a class="nav-link scrollto" href="#">Services</a></li>
                        <li><a class="nav-link scrollto" href="{{path('app_contact')}}">Contact</a></li>
                    </ul>
                    <ul>
                        <li><a class="nav-link scrollto" href="{{path('app_logout')}}">{{app.user.name}} Se Deconnecter</a></li>
                        <li><a class="nav-link scrollto" id="openNav" onclick="openRightMenu()">&#9776;Menu</a></li>
                    </ul>
                    {% else %}
                        <ul>
                            <li><a class="nav-link scrollto" href="{{path('app_home')}}">Accueil</a></li>
                            <li><a class="nav-link scrollto" href="{{path('app_admin_trajets')}}">Trajets</a></li>
                            <li><a class="nav-link scrollto" href="{{path('app_admin_index')}}">Utilisateurs</a></li>
                            <li><a class="nav-link scrollto" href="{{path('app_admin_reserves')}}">Reservations</a></li>
                            <li><a class="nav-link scrollto" href="{{path('app_admin_comments')}}">Commentaires</a></li>
                        </ul>
                        <ul>
                            <li><a class="nav-link scrollto" href="{{path('app_logout')}}">{{app.user.name}} Se Deconnecter</a></li>
                        </ul>

                    {% endif %}

                {% else %}

                <ul>
                    <li><a class="nav-link scrollto" href="{{path('app_home')}}">Accueil</a></li>
                    <li><a class="nav-link scrollto" href="{{path('trajet_index')}}">Trajets</a></li>
                    <li><a class="nav-link scrollto" href="#">Services</a></li>
                    <li><a class="nav-link scrollto" href="{{path('app_contact')}}">Contact</a></li>
                </ul>
                <ul>
                    <li><a class="nav-link" href="{{path('app_register')}}">Inscription</a></li>
                    <li><a class="nav-link" href="{{path('app_login')}}">Connexion</a></li>
                </ul>

                {% endif %}
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->

        
        
        <main id="main">
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">

            <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Binevenu sur NiouDem</h1>
                <h2>Votre site de Covoiturage</h2>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="#" class="img-fluid animated" alt="">
                </div>
            </div>
            </div>

        </section><!-- End Hero -->
        {% block body %}
        

        
        {% endblock %}
        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="footer-top">
            <div class="container">
                <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>NiouDem</h3>
                    <p>
                    Cite Gabon, Rue RO 86 <br>
                    Rufisque, Dakar <br>
                    Sénégal <br><br>
                    <strong>Phone:</strong> +221 78 130 18 56<br>
                    <strong>Email:</strong> contact@nioudem.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Trajets</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

                </div>
            </div>
            </div>

            <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>NiouDem</span></strong>. Tous Droits Reservés
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                By <a href="https://alassaneseck94@gmil.com/">RegulusAlou</a>
            </div>
            </div>
        </footer><!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}

            <!-- Vendor JS Files -->
            <script src="{{asset('assets/vendor/aos/aos.js')}}"></script>
            <script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{asset('assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
            <script src="{{asset('assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
            <script src="{{asset('assets/vendor/php-email-form/validate.js')}}"></script>
            <script src="{{asset('assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
            <script src="{{asset('assets/vendor/waypoints/noframework.waypoints.js')}}"></script>

            <!-- Template Main JS File -->
            <script src="{{asset('assets/js/main.js')}}"></script>

        {% endblock %}

    </body>
</html>
